* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.products {
  margin: 10px auto;
  max-width: 1200px;
  padding: 0 20px;
  border: 2px solid #aeaeae;
  border-radius: 12px;
}

.header {
  padding: 20px;
  margin: 10px auto;
  border: 2px solid brown;
  background: #aeae;
  border-radius: 25px;
  max-width: 350px;
}

.item-list {
  border: 1px solid #aeae;
  padding: 25px;
  font-size: 25px;
}

.item-wrap {
  display: flex;
  list-style-type: none;
  gap: 10px;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  text-align: center;

  /* &>li *{
    border: 1px solid red;
  } */

  & p{
    margin: 0;
    padding: 10px;
  }


  & img{
    width: 200px;
    height: 200px;
  }

  & .item{
    border: 2px solid #aeaeae;
    width: 200px;
  }

  & a{
    text-decoration: none;
    color: #000;
  }
}

.product-detail {
  border: 3px solid #aeae;
  padding: 20px 30px;
  margin: 10px auto;
  max-width: 550px;
  text-align: center;
  border-radius: 15px;

  & img{
    width: 300px;
    height: 300px;
  }
}

.head {
  background-color: brown;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
}


.price {
  color: brown;
  font-weight: bold;
  font-size: 20px;
  background-color: blanchedalmond;
  padding: 10px;
  width: 150px;
  margin: 0 auto;
  border-radius: 15px;
}

.back-button {
  /* margin-left: 650px; */
  /* width: 0 auto; */
  padding: 10px;
  color: #3a0303;
  font-size: 18px;
  border: 1px solid #3a0303;
  border-radius: 50px;
  /* transition: color 0.3s ease; */
}

@media (min-width: 768px) {
  .back-button {
    margin-left: 650px;
    width: 0 auto;
  }
}

/* Media query for mobile screens */
@media (max-width: 767px) {
  .header {
    max-width: 100%;
  }

  .item-list {
    padding: 15px;
    font-size: 20px;
  }

  .product-detail {
    max-width: 100%;
    padding: 15px;
  }

  .price {
    width: 80px;
  }

  /* Center the button on mobile screens using flexbox */
  .back-button {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
  }
}

#product-info{
  text-align: center;
}